.hero-section {
  min-height: 90vh;
  background: linear-gradient(135deg, #007bff 0%, #6610f2 100%);
  padding: 60px 20px;
  display: flex;
  align-items: center;
}

.hero-img {
  max-width: 100%;
  border-radius: 12px;
}

/* Fade animation */
.animate-fade {
  animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* login section */

.login-bg {
  background: "#f8f9fa";
  position: relative;
  overflow: hidden;
}

.login-bg::before {
  content: "";
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%;
  height: 200px;
  background: rgba(255, 255, 255, 0.15);
  filter: blur(60px);
}

/* browse category section */

.category-card-gradient {
  transition: transform 0.3s, box-shadow 0.3s;
}

.category-card-gradient:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.category-card-gradient img {
  filter: brightness(1);
  transition: transform 0.3s;
}

.category-card-gradient:hover img {
  transform: scale(1.1);
}


/* featured course */

.card-img-top {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.25) !important;
}


/* why choose section */

.feature-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: #ffffff;
  border-radius: 15px;
}

.feature-card:hover {
  transform: translateY(-8px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.15);
}


/* course-card */
.course-card {
  transition: all 0.25s ease-in-out;
}

.course-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.15) !important;
}

/* categorysidebar */








